<html>
    <body>
        <form action="/promocoes" method="post">
          <div>
            <div>
                <input type="text" name="mensagem" />
            </div> 
            <select name="livro[id]">
                <% for (let i=0; i < lista.length; i++) { %>
                <option value="<%= lista[i].id %>"><%= lista[i].titulo %></option>
            <% } %>
            </select>
        </div>  
    <input type="submit" value="cadastrar promoção" />    
    </form>
        
    </body>
</html>