<html>
    <head>
    </head>
    <body>
        <form action="/produtos/salva" method="post">
            <div>
                <label for='titulo'>Titulo</label>
                <input type="text" name="titulo" placeholder="Coloque o Titulo">
            </div> <br>
            <div>
                <label for='preco'>Preço</label>
                <input type="text" name="preco" placeholder="Insira o Valor">
            </div> <br>
            <div>
                <label for='descricao'>Descrição</label>
                <textarea cols='20' rows="10" name="descricao" placeholder="Coloque a drescrição"></textarea>
            </div><br>
            <button type="submit">Enviar</button> 
        </form>
    </body>
</html>